//def cov_pheno_file = "/well/emberson/users/atu446/MCPS_association/pheno.tsv"
def cov_pheno_file = "/well/emberson/users/atu446/MCPS_association/T2D.tsv"
//def cov_pheno_file = "/well/emberson/users/atu446/MCPS_association/pheno_test.tsv"
def cov_pheno_list = []

new File(cov_pheno_file).eachLine { line ->
    // Concatenate the constant path with the phenotype name
    //def phenotype_path = [line.trim(), "/well/emberson/users/atu446/MCPS_association/pheno_filtered.tsv", "/well/emberson/users/atu446/MCPS_association/covariates_filtered.tsv"]
    def phenotype_path = [line.trim(), "/well/emberson/users/atu446/MCPS_association/MCPS_combined_with_paula.tsv", "/well/emberson/users/atu446/MCPS_association/covariates_filtered.tsv"]
    // def phenotype_path = [line.trim(), "/well/emberson/users/atu446/MCPS_association/MCPS_combined_with_paula.tsv", "/well/emberson/users/atu446/MCPS_association/cond_test/T2D_All_Ctrl_updated_covar.txt"]
    cov_pheno_list.add(phenotype_path)
}

params{

cov_pheno = cov_pheno_list

plink_files = [
    ['MCPS',
    '/well/emberson/users/atu446/MCPS_HLA_panel/MCPS_genotypes/MCPS_minimac4_imputed_MCPS_only_v2.bed',
    '/well/emberson/users/atu446/MCPS_HLA_panel/MCPS_genotypes/MCPS_minimac4_imputed_MCPS_only_v2.bim',
    '/well/emberson/users/atu446/MCPS_HLA_panel/MCPS_genotypes/MCPS_minimac4_imputed_MCPS_only_v2.fam'],
]

plink_v2_overlap_files = [
    ['MCPS',
     '/well/emberson/users/atu446/MCPS_HLA_panel/MCPS_genotypes/MCPS_minimac4_imputed_overlap_v2.bed',
     '/well/emberson/users/atu446/MCPS_HLA_panel/MCPS_genotypes/MCPS_minimac4_imputed_overlap_v2.bim',
     '/well/emberson/users/atu446/MCPS_HLA_panel/MCPS_genotypes/MCPS_minimac4_imputed_overlap_v2.fam'],
]

plink_v1_overlap_filter_files = [
    ['MCPS',
     '/well/emberson/users/atu446/MCPS_HLA_panel/MCPS_genotypes/MCPS_imputed_unphased_filter.bed',
     '/well/emberson/users/atu446/MCPS_HLA_panel/MCPS_genotypes/MCPS_imputed_unphased_filter.bim',
     '/well/emberson/users/atu446/MCPS_HLA_panel/MCPS_genotypes/MCPS_imputed_unphased_filter.fam'],
]

plink_v1_overlap_files = [
                  ['MCPS', '/well/emberson/users/atu446/MCPS_HLA_panel/MCPS_genotypes/MCPS_imputed_unphased.bed',
                     '/well/emberson/users/atu446/MCPS_HLA_panel/MCPS_genotypes/MCPS_imputed_unphased.bim',
                     '/well/emberson/users/atu446/MCPS_HLA_panel/MCPS_genotypes/MCPS_imputed_unphased.fam']
                ]

ids = "/well/emberson/users/atu446/MCPS_association/samples.txt"

}